In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree  import DecisionTreeClassifier

In [2]:
dataset=pd.read_csv('drug200.csv')

In [3]:
dataset.head

<bound method NDFrame.head of      Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  drugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  drugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]>

In [4]:
dataset['Drug'].value_counts()

Drug
drugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: count, dtype: int64

In [5]:
dataset.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [6]:
dataset.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [7]:
label_encoding=LabelEncoder()
dataset['Drug']=label_encoding.fit_transform(dataset['Drug'])
dataset['Sex']=label_encoding.fit_transform(dataset['Sex'])
dataset['BP']=label_encoding.fit_transform(dataset['BP'])
dataset['Cholesterol']=label_encoding.fit_transform(dataset['Cholesterol'])

In [8]:
dataset.corr()

                  Age       Sex        BP  Cholesterol   Na_to_K      Drug
Age          1.000000  0.102027  0.054212    -0.068234 -0.063119 -0.004828
Sex          0.102027  1.000000 -0.007814    -0.008811 -0.125008 -0.098573
BP           0.054212 -0.007814  1.000000    -0.137552 -0.149312  0.372868
Cholesterol -0.068234 -0.008811 -0.137552     1.000000  0.010000  0.055629
Na_to_K     -0.063119 -0.125008 -0.149312     0.010000  1.000000  0.589120
Drug        -0.004828 -0.098573  0.372868     0.055629  0.589120  1.000000

In [9]:
X=dataset.drop(columns=['Drug'],axis=1)
Y=dataset["Drug"]

In [10]:
dataset.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   0            0   25.355     4
1   47    1   1            0   13.093     2
2   47    1   1            0   10.114     2
3   28    0   2            0    7.798     3
4   61    0   1            0   18.043     4

In [11]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=3)

In [12]:
model=DecisionTreeClassifier(criterion='log_loss',random_state=2)

In [13]:
model.fit(X_train,Y_train)
Y_test_pred=model.predict(X_test)
Y_train_predict=model.predict(X_train)
print("Accuracy is ",accuracy_score(Y_test,Y_test_pred))
print("Accuracy score of  Training  data : ",accuracy_score(Y_train,Y_train_predict))

Accuracy is  1.0
Accuracy score of  Training  data :  1.0