In [15]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules
DATA=[['B','A'],
['B','C','D'],
['C','D','E','A'],
['A','D','E'],
['C','B','A'],
['A','B','C','D'],
['A'],
['A','B','C'],
['D','B','A'],
['B','C','E']]

te=TransactionEncoder()
te_ary=te.fit(DATA).transform(DATA)
df=pd.DataFrame(te_ary,columns=te.columns_)
print(df)

       A      B      C      D      E
0   True   True  False  False  False
1  False   True   True   True  False
2   True  False   True   True   True
3   True  False  False   True   True
4   True   True   True  False  False
5   True   True   True   True  False
6   True  False  False  False  False
7   True   True   True  False  False
8   True   True  False   True  False
9  False   True   True  False   True

In [21]:
fpgrowth(df,min_support=0.3,use_colnames=True)

    support   itemsets
0       0.8        (A)
1       0.7        (B)
2       0.6        (C)
3       0.5        (D)
4       0.3        (E)
5       0.5     (A, B)
6       0.5     (C, B)
7       0.4     (A, C)
8       0.3  (A, B, C)
9       0.3     (D, C)
10      0.3     (D, B)
11      0.4     (D, A)